
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      position:fixed;
      z-index: 2;
      width:100%;
    
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%;
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 30px;
      position: fixed;
      z-index: 1;
      background-color: #f1f1f1;
      height: 100%;
      width: 140px;
      top: 0;
      left: 0;
      align-items: center;
      text-align: center;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      position: fixed;
      z-index: 2;
      bottom: 0;
      width:100%;
      background-color: #555;
      color: white;
      padding: 15px;

    }

    .content{
        position: relative;
        top:40px;
        left:80px;
    }
    .body{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
   